*{
  transition: 2s;
}

html {
  height: 100%;
}

#logoSize {
  max-width: 600px;
}

.dudesize {
  max-width: 100% !important;
}

.vid {
  margin: 0 auto;
  text-align: center;
  padding-top: 15px;
}

video {
  width: 100%    !important;
  height: auto   !important;
  color-rendering: optimizeSpeed;
  buffered-rendering: auto;
}

#stonePalace {
  /*padding-left: 436px;*/
  height: 16px;
  width: 384px;
  text-align: center;
  margin: 0 auto;
}

.stonePalace {
  height: 196px;
}


.exhibition {
  font-family: Menlo;
  text-align: center;
  font-size: 25px;
}

.secondText {
  font-family: Menlo;
  text-align: center;
  padding-top: -10px;
  padding-right: 86px;
  font-weight: 300;
  line-height: 36px;
  font-size: 15px;
  font-style: italic;
}

.container {
  max-width: 900px;
  margin: auto;
}

.castle {
  vendor-animation-duration: 3s;
  /*vendor-animation-delay: 2s;*/
  vendor-animation-iteration-count: infinite;
  background-color: white;
  height: 50%;
  width: 50%;
  transition: 2s;
}


.dates {
  padding-left: 65px;
  font-weight: bold;
}

.datesNTime {
  font-style: normal;
}

.lildude {
  height: 133px;
  margin-right: -961px;
  position: relative;
  width: 47px;
  margin-top: -230px;
  transition: 2s;
}

footer {
  text-align: center;
  position: relative;
  /*margin-right: -970px;*/
  /*padding-left: 610px;*/
  font-family: sans-serif;
  font-size: 11px;
}

ul {
  text-align: center;
  font-size: 20px;
  line-height: normal;
}

img {
  align: middle;
  width: 100%    !important;
  height: auto   !important;
  margin: 0 auto;
  max-height: 370px;
}

img.lildude.draggable {
  align: right;
  width: 100%    !important;
  height: auto   !important;
  /*margin: 0 0 15px 0;*/
  max-height: 600px;
  max-width: 300px;
}
